/* ======== add fonts ======== */
@font-face {
  font-family: "UniNeue";
  font-style: normal;
  font-weight: 100;
  src: local("UniNeueThin"), local("UniNeue-Thin"), url("../fonts/UniNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: italic;
  font-weight: 100;
  src: local("UniNeueThinItalic"), local("UniNeueThin-Italic"), url("../fonts/UniNeueThin-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: normal;
  font-weight: 200;
  src: local("UniNeueLight"), local("UniNeue-Light"), url("../fonts/UniNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: italic;
  font-weight: 200;
  src: local("UniNeueLightItalic"), local("UniNeueLight-Italic"), url("../fonts/UniNeueLight-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: normal;
  font-weight: 300;
  src: local("UniNeueBook"), local("UniNeue-Book"), url("../fonts/UniNeueBook.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: italic;
  font-weight: 300;
  src: local("UniNeueBookItalic"), local("UniNeueBook-Italic"), url("../fonts/UniNeueBook-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: normal;
  font-weight: 400;
  src: local("UniNeueRegular"), local("UniNeue-Regular"), url("../fonts/UniNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: italic;
  font-weight: 400;
  src: local("UniNeueRegularItalic"), local("UniNeueRegular-Italic"), url("../fonts/UniNeueRegular-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: normal;
  font-weight: 700;
  src: local("UniNeueBold"), local("UniNeue-Bold"), url("../fonts/UniNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: italic;
  font-weight: 700;
  src: local("UniNeueBoldItalic"), local("UniNeueBold-Italic"), url("../fonts/UniNeueBold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: normal;
  font-weight: 800;
  src: local("UniNeueHeavy"), local("UniNeue-Heavy"), url("../fonts/UniNeueHeavy.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: italic;
  font-weight: 800;
  src: local("UniNeueHeavyItalic"), local("UniNeueHeavy-Italic"), url("../fonts/UniNeueHeavy-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: normal;
  font-weight: 900;
  src: local("UniNeueBlack"), local("UniNeue-Black"), url("../fonts/UniNeueBlack.ttf") format("truetype");
}

@font-face {
  font-family: "UniNeue";
  font-style: italic;
  font-weight: 900;
  src: local("UniNeueBlack-Italic"), local("UniNeueBlack-Italic"), url("../fonts/UniNeueBlack-Italic.ttf") format("truetype");
}

/* ======== functions ======== */
/* ======== animation ======== */
@-webkit-keyframes highlight {
  0% {
    -webkit-transform: skewX(-45deg) translateX(-80px);
            transform: skewX(-45deg) translateX(-80px);
  }
  20% {
    -webkit-transform: skewX(-45deg) translateX(500px);
            transform: skewX(-45deg) translateX(500px);
  }
  21% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes highlight {
  0% {
    -webkit-transform: skewX(-45deg) translateX(-80px);
            transform: skewX(-45deg) translateX(-80px);
  }
  20% {
    -webkit-transform: skewX(-45deg) translateX(500px);
            transform: skewX(-45deg) translateX(500px);
  }
  21% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/* ======== main styles ======== */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "UniNeue", sans-serif;
  font-size: 0.9375vw;
  color: #282828;
  background-color: #fff;
}

.first {
  position: relative;
  width: 100%;
  padding-bottom: 5.72917vw;
  background: url("./../img/worker.png") 95% bottom/31.25vw no-repeat, url("./../img/intro-bg.png") center/cover no-repeat;
}

.container {
  max-width: 83.33333vw;
  margin: 0 auto;
  padding: 0 0.78125vw;
}

.header {
  padding-top: 1.92708vw;
  /* position: relative;
  z-index: 10; */
}

/* ======== header__top styles ======== */
.header__top {
  position: relative;
  height: 4.0625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.125vw;
}

.header__logo {
  position: relative;
  width: 9.53125vw;
  height: 3.85417vw;
}

.header__logo a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__about {
  width: 15.36458vw;
}

.header__about span {
  font-weight: 800;
}

.header__location {
  width: 12.5vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header__location:hover {
  color: #fd674f;
}

.header__map {
  width: 3.90625vw;
  height: 3.90625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.04167vw;
  border-radius: 50%;
}

.header__map img {
  width: 100%;
  height: auto;
  border: 0.05208vw solid #dcdcdc;
  border-radius: 50%;
}

.header__adress {
  font-size: 0.83333vw;
}

.header__adress span {
  font-weight: 800;
}

.header__lang {
  text-align: center;
}

.header__lang p {
  margin-bottom: 0.41667vw;
}

.header__langSelector {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.header__langSelector li {
  margin: 0 0.3125vw;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__langSelector li.active {
  font-weight: 700;
  color: #fe5851;
}

.header__langSelector li:hover {
  color: #fe5851;
}

.header__consultation {
  position: relative;
  overflow: hidden;
  display: block;
  width: 12.76042vw;
  height: 3.64583vw;
  color: #fff;
  background-color: #313d4b;
  font-size: 0.83333vw;
  border-radius: 0.26042vw;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.header__consultation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: skewX(-45deg) translateX(-80px);
          transform: skewX(-45deg) translateX(-80px);
  -webkit-animation: highlight 5s 2s ease-in-out infinite;
          animation: highlight 5s 2s ease-in-out infinite;
}

.header__consultation:hover {
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
}

.header__contacts {
  width: 11.45833vw;
  height: 4.16667vw;
}

.header__burger {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  width: 25px;
  height: 14px;
  z-index: 100;
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  background-color: #282828;
  left: 0;
  width: 100%;
  height: 2px;
  top: 6px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #282828;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
  background-color: #fff;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 6px;
  background-color: #fff;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.burger__bg.active {
  display: block;
}

.burger__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  z-index: 10;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #eee;
  padding: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: scroll;
}

.burger__link {
  color: #282828;
  text-decoration: none;
  text-transform: uppercase;
}

.burger__nav.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burger__link {
  display: block;
  font-size: 18px;
  margin-bottom: 30px;
}

.header__phone {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.52083vw;
}

.header__phone:hover p {
  color: #1d279d;
}

.header__phone img {
  display: block;
  width: 1.09375vw;
  height: 1.09375vw;
}

.header__phone p {
  font-size: 1.14583vw;
  font-weight: 800;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header__phone a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.header__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__item {
  position: relative;
  width: 2.55208vw;
  height: 2.55208vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.52083vw;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__item:nth-child(1) {
  background-color: #7460f3;
}

.header__item:nth-child(2) {
  background-color: #00a2f2;
}

.header__item:nth-child(3) {
  background-color: #25d266;
  margin-right: 0;
}

.header__item img {
  display: block;
  width: 1.04167vw;
  height: auto;
}

.header__item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

/* ======== header__menu styles ======== */
.header__nav {
  margin-bottom: 4.16667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  position: relative;
  color: #282828;
  font-size: 0.83333vw;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header__link:hover {
  color: #1d279d;
}

/* ======== intro styles ======== */
.intro__heading {
  width: 46.875vw;
  margin-bottom: 3.69792vw;
  font-size: 3.125vw;
  font-weight: 300;
}

.intro__heading span {
  font-weight: 700;
}

.intro__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 3.02083vw;
}

.intro__advantageItem {
  position: relative;
  font-size: 1.04167vw;
  font-weight: 300;
  margin-right: 2.60417vw;
  -webkit-transform: translateX(1.04167vw);
          transform: translateX(1.04167vw);
}

.intro__advantageItem:nth-child(1) {
  width: 16.66667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__advantageItem:nth-child(2) {
  width: 11.45833vw;
}

.intro__advantageItem:nth-child(3) {
  width: 11.97917vw;
  margin-right: 0;
}

.intro__years {
  margin-right: 0.52083vw;
  font-size: 3.75vw;
  font-weight: 800;
  -webkit-transform: translateY(-0.46875vw);
          transform: translateY(-0.46875vw);
}

.intro__text span {
  font-weight: 700;
}

.intro__advantageItem::before {
  content: "";
  position: absolute;
  top: -0.10417vw;
  left: -1.04167vw;
  width: 0.9375vw;
  height: 0.26042vw;
  background-color: #fe5851;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.intro__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.intro__calc {
  width: 22.91667vw;
  margin-right: 5.46875vw;
}

.intro__calcDescription {
  margin-bottom: 1.5625vw;
  padding: 0 0.78125vw;
  line-height: 1.5;
}

.intro__calcDescription span {
  width: 10.67708vw;
  height: 1.5625vw;
  display: inline-block;
  padding: 0 0.41667vw;
  font-weight: 700;
  background-color: #fff;
  border-radius: 0.20833vw;
}

.intro__calcBtn {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5.41667vw;
  padding-left: 2.34375vw;
  border: none;
  outline: none;
  border-radius: 0.26042vw;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe744f), to(#fe504f));
  background: linear-gradient(#fe744f, #fe504f);
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.intro__calcBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: skewX(-45deg) translateX(-80px);
          transform: skewX(-45deg) translateX(-80px);
  -webkit-animation: highlight 5s 2s ease-in-out infinite;
          animation: highlight 5s 2s ease-in-out infinite;
}

.intro__calcBtn:hover {
  -webkit-box-shadow: 4px 4px 8px 2px rgba(255, 109, 80, 0.7);
          box-shadow: 4px 4px 8px 2px rgba(255, 109, 80, 0.7);
}

.intro__calcBtn img {
  display: block;
  width: 1.97917vw;
  height: 1.97917vw;
  margin-right: 0.9375vw;
}

.intro__calcBtn div {
  text-align: left;
  line-height: 1.5;
  width: 14.0625vw;
  font-size: 0.88542vw;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.intro__certificates {
  width: 15.625vw;
}

.intro__certTitle {
  margin-bottom: 0.9375vw;
  font-size: 0.88542vw;
  font-weight: 700;
  text-align: center;
}

.intro__slider {
  position: relative;
}

.slider__container {
  overflow: hidden;
}

.intro__sliderWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__certificatesItem {
  width: 4.79167vw;
  height: 5.98958vw;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.intro__certificatesItem:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.intro__certificatesItem img {
  width: 4.79167vw;
  height: 5.98958vw;
}

.intro__prev,
.intro__next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.intro__prev {
  left: -1.04167vw;
}

.intro__next {
  right: -1.04167vw;
}

.intro__prev img,
.intro__next img {
  display: block;
  width: 0.67708vw;
  height: 1.30208vw;
}

.certificates {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.25s linear;
  transition: visibility 0.25s linear;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.certificates.active {
  visibility: visible;
  opacity: 1;
}

.certificates__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.certificates__item {
  position: absolute;
  height: 90vh;
  width: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.25s linear;
  transition: visibility 0.25s linear;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.certificates__item.active {
  visibility: visible;
  opacity: 1;
}

.certificates__item img {
  display: block;
  width: auto;
  height: 90%;
}

.certificates__close {
  position: absolute;
  top: 1.30208vw;
  right: 1.30208vw;
  z-index: 100;
  width: 2.60417vw;
  height: 2.60417vw;
  cursor: pointer;
}

.certificates__close svg {
  display: block;
  width: 100%;
  height: 100%;
}

.certificates__close path {
  fill: #fff;
}

.certificates__close:hover path {
  fill: #282828;
}

.map {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.map.active {
  display: block;
}

body.lock {
  overflow: hidden;
}

.map__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.map__wrapper {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.map__wrapper iframe {
  position: relative;
}

.map__close {
  position: absolute;
  top: 1.30208vw;
  right: 1.30208vw;
  z-index: 100;
  width: 2.60417vw;
  height: 2.60417vw;
  cursor: pointer;
}

.map__close svg {
  display: block;
  width: 100%;
  height: 100%;
}

.map__close path {
  fill: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.map__close:hover path {
  fill: #ccc;
}

/* ======== adaptive styles ======== */
@media (max-width: 992px) {
  .body {
    font-size: 18px;
  }
  .first {
    width: 100%;
    background: url("./../img/worker.png") 95% bottom/300px no-repeat, url("./../img/intro-bg.png") center/cover no-repeat;
  }
  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header {
    padding-top: 37px;
  }
  /* ======== header__top styles ======== */
  .header__top {
    height: 80px;
    margin-bottom: 160px;
  }
  .header__logo {
    width: 183px;
    height: 74px;
    margin-right: 30px;
  }
  .header__about {
    position: absolute;
    left: 0;
    top: 100px;
    width: 220px;
    font-size: 14px;
  }
  .header__location {
    position: absolute;
    left: 240px;
    top: 90px;
    width: 240px;
  }
  .header__map {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  .header__adress {
    font-size: 14px;
  }
  .header__lang {
    font-size: 14px;
    margin-right: 15px;
  }
  .header__lang p {
    margin-bottom: 8px;
  }
  .header__langSelector li {
    margin: 0 6px;
  }
  .header__consultation {
    width: 230px;
    height: 55px;
    font-size: 16px;
    border-radius: 5px;
  }
  .header__burger {
    display: block;
  }
  .header__contacts {
    width: 220px;
    height: 80px;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  .header__phone img {
    width: 16px;
    height: 16px;
  }
  .header__phone p {
    font-size: 20px;
  }
  .header__item {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .header__item img {
    width: 20px;
  }
  .header__nav {
    display: none;
  }
  /* ======== intro styles ======== */
  .intro__heading {
    width: 100%;
    margin-bottom: 70px;
    font-size: 42px;
  }
  .intro__advantage {
    margin-bottom: 40px;
  }
  .intro__advantageItem {
    font-size: 20px;
    margin-right: 35px;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  .intro__advantageItem:nth-child(1) {
    width: 320px;
  }
  .intro__advantageItem:nth-child(2) {
    width: 220px;
  }
  .intro__advantageItem:nth-child(3) {
    width: 230px;
  }
  .intro__years {
    margin-right: 10px;
    font-size: 72px;
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  .intro__advantageItem::before {
    top: -2px;
    left: -20px;
    width: 18px;
    height: 5px;
  }
  .intro__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .intro__calc {
    width: 430px;
    margin-right: 105px;
    margin-bottom: 20px;
  }
  .intro__calcDescription {
    margin-bottom: 30px;
    padding: 0 22px;
    font-size: 18px;
    line-height: 1.5;
  }
  .intro__calcDescription span {
    width: 190px;
    height: 30px;
    padding: 0 8px;
    border-radius: 4px;
  }
  .intro__calcBtn {
    height: 90px;
    padding-left: 45px;
    border-radius: 5px;
  }
  .intro__calcBtn img {
    width: 38px;
    height: 38px;
    margin-right: 18px;
  }
  .intro__calcBtn div {
    width: 270px;
    font-size: 17px;
  }
  .intro__certificates {
    width: 300px;
    -webkit-transform: translateX(23px);
            transform: translateX(23px);
  }
  .intro__certTitle {
    margin-bottom: 18px;
    font-size: 17px;
  }
  .intro__certificatesItem {
    width: 92px;
    height: 115px;
  }
  .intro__certificatesItem img {
    width: 92px;
    height: 115px;
  }
  .intro__prev {
    left: -20px;
  }
  .intro__next {
    right: -20px;
  }
  .intro__prev img,
  .intro__next img {
    width: 13px;
    height: 25px;
  }
  .certificates__item {
    width: 65%;
    height: auto;
  }
  .certificates__item img {
    width: auto;
    height: 90vh;
    margin: 0 auto;
  }
  .certificates__close {
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
  }
  .map__close {
    top: 40px;
    right: 55px;
    width: 50px;
    height: 50px;
  }
  .map__close path {
    fill: #282828;
  }
}

@media (max-width: 768px) {
  .first {
    background: url("./../img/worker.png") center 72%/300px no-repeat, url("./../img/intro-bg.png") center/cover no-repeat;
  }
  .container {
    max-width: 540px;
  }
  .header__top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__lang {
    display: none;
  }
  .header__contacts {
    position: absolute;
    top: 100px;
    right: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header__location {
    left: 0;
    top: 150px;
  }
  .intro__heading {
    font-size: 36px;
  }
  .intro__advantage {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .intro__advantageItem:nth-child(1),
  .intro__advantageItem:nth-child(2),
  .intro__advantageItem:nth-child(3) {
    width: 90%;
    margin-bottom: 15px;
  }
  .intro__advantageItem:nth-child(3) {
    margin-bottom: 0;
  }
  .intro__years {
    font-size: 48px;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  .intro__calc {
    width: 100%;
    margin-right: 0;
    margin-bottom: 430px;
  }
  .intro__calcBtn {
    width: 430px;
  }
  .intro__certificates {
    width: 100%;
    margin-bottom: 50px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .intro__certificatesItem {
    width: 30%;
    height: auto;
  }
  .intro__certificatesItem img {
    display: block;
    width: 100%;
    height: auto;
  }
  .intro__slider {
    width: 100%;
    overflow: hidden;
  }
  .intro__sliderNav {
    display: none;
  }
  .certificates__item {
    width: 75%;
  }
  .certificates__item img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .first {
    background: url("./../img/worker.png") center 81%/300px no-repeat, url("./../img/intro-bg.png") center/cover no-repeat;
  }
  .container {
    max-width: 100%;
  }
  .header {
    padding-top: 15px;
  }
  .header__top {
    margin-bottom: 240px;
  }
  .header__about {
    display: none;
  }
  .header__consultation {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
  }
  .header__contacts {
    top: 170px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header__location {
    top: 240px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .intro {
    width: 100%;
  }
  .intro__title {
    width: 100%;
  }
  .intro__heading {
    width: 100%;
    font-size: 28px;
    margin-bottom: 60px;
  }
  .intro__years {
    font-size: 25px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .intro__calcDescription {
    padding: 0;
    text-align: center;
  }
  .intro__calcBtn {
    width: 100%;
    padding: 0 5px;
  }
  .intro__calcBtn div {
    font-size: 15px;
  }
  .map__close {
    top: 40px;
    right: 30px;
  }
}
